<div class="container">
    <div class="row">
        <div class="col l12 s12">
            <h1> <%= @diagnostico.patient.nombre  %> <%= @diagnostico.patient.apellido_pat  %> <%= @diagnostico.patient.apellido_mat  %> </h1>
        <table class="striped">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Tratamiento</th>
              <th>Abono</th>
              <th>Firmado</th>
            </tr>
          </thead>
          <tbody>
            <% @diagnostico.treatments.each do |tratamiento| %>
                <th><%= tratamiento.fecha %></th>
                <th><%= tratamiento.tratamiento %></th>
                <th><%= tratamiento.abono %></th>
                <th><%= tratamiento.dentist.name %></th>
            <% end %>
              
           
            
          </tbody>
        </table> 
        </div>
        
    </div>
    
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red modal-trigger" href="#modal1">
            <i class="large material-icons">add </i>
        </a>
    </div>
    
</div>

 <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Nuevo Tratamiento</h4>
      <p>
        <%= render "treatments/form" %>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>