
<%= form_for([@diagnosticos, @tratamiento]) do |f| %>
  <% if @tratamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tratamiento.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @tratamiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
    <div class="input-field col s12 l10">
        <%= f.text_field :tratamiento %>
        <%= f.label :tratamiento %>
    </div>   
    
    <div class="input-field col s12 l2">
        <%= f.number_field :abono %>
        <%= f.label :abono %>
    </div>
    
    
</div>

<div class="row"> 
    
    
    <div class="input-field col s12 l4">
        <%= f.label :fecha %>
        <%= f.date_field :fecha, :value => Time.now.in_time_zone("Tijuana").to_date ,  class:"datepicker" %>
    </div>
    
    <div class="input-field col s12 l4">
        <input disabled value="<%= current_dentist.name %>" type="text" class="validate">
        <label for="disabled">Firma</label>
    </div>
    
    
    

    
    
</div>

<div>
     <div class="actions">
        <%= f.submit "Guardar", class:"btn waves-effect waves-light" %>
    </div>  
</div>
    

  
  
<% end %>
