<%= form_for([@pacientes,@diagnostico]) do |f| %>
  <% if @diagnostico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagnostico.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @diagnostico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
    <div class="input-field col s12 l12">
        <%= f.label :diagnostico %>
        <%= f.text_area :diagnostico, class:"materialize-textarea" %>
    </div>
    
</div>

<div class="row"> 
    <div class="input-field col s12 l2">
        
        <%= f.number_field :nopieza %>
        <%= f.label :nopieza %>
    
    </div>   
    
    <div class="input-field col s12 l4">
        <%= f.number_field :costo %>
        <%= f.label :costo %>
    </div>
    <div class="input-field col s12 l2">
        <%= f.date_field :fecha  , class:"datepicker"%>
        <%= f.label :fecha %>
    </div>
    
    <div class="input-field col s12 l4">
        <input disabled value="<%= current_dentist.name %>" type="text" class="validate">
        <label for="disabled">Firma</label>
    </div>
    
</div>

<div>
     <div class="actions">
        <%= f.submit "Guardar", class:"btn waves-effect waves-light" %>
    </div>
</div>
    

  
  
<% end %>
