    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

                                        
                                    <li><%= link_to "Cerrar Sesion", destroy_dentist_session_path, method: :delete %> </li>
                           
                            <%= current_dentist.name %>
                               
                        <%= link_to root_path , class:"waves-effect waves-cyan" %>
                        
                         
                        
                    
                   
                    <%= link_to  patients_path , class:"waves-effect waves-cyan"  %> 
                    
                    
                   
                        <%=  link_to dentists_path , class:"waves-effect waves-cyan"  %>
                           
                    
                    
                    

                    <%= yield %>
                    


               
    <script>
    <% unless notice.nil? %>
    // Toast Notification
    $(window).load(function() {
        setTimeout(function() {
            Materialize.toast('<span><%= notice %></span>', 1500);
        }, 3000);
        
    });
    <% end %>
    
    <% unless alert.nil? %>
    // Toast Notification
    $(window).load(function() {
        setTimeout(function() {
            Materialize.toast('<span><%= alert %></span>', 1500);
        }, 3000);
        
    });
    <% end %>
    
    </script>
